In [19]:
from IPython.display import display

import numpy as np
import pandas as pd

Dataset = pd.read_csv('energydata_complete.csv')
display(Dataset.head())

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [ ]:
# Checking Empty & NaN Value
Dataset.isnull().sum()
Dataset.isna().sum()

In [21]:
# Question No. 12
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

a, b, c, d = train_test_split(Dataset[['T2']], Dataset['T6'], test_size=0.3, random_state=2)

l_model = LinearRegression()
l_model.fit(a, c)
pred_values = l_model.predict(b)

# R-Squared Score
from sklearn.metrics import r2_score
r2_score = r2_score(d, pred_values)
round(r2_score, 2)

0.65

In [22]:
df_1 = Dataset.drop(columns = ['date', 'lights'], axis=1)

# Normalization
from sklearn.preprocessing import MinMaxScaler
Scaler = MinMaxScaler()

norm_data = pd.DataFrame(Scaler.fit_transform(df_1), columns=df_1.columns)

x_1 = norm_data.drop(columns=['Appliances'])
y_1 = norm_data['Appliances']

# Regression
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_1, y_1, test_size=0.3, random_state=42)

from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
predicted_values = linear_model.predict(x_test)

In [23]:
# Question No. 13
# MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.05

In [24]:
# Question No. 14
# RSS
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

45.35

In [25]:
# Question No. 15
# RMSE
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

In [26]:
# Question No. 16
# R-Squared or Coefficient of Determination
from sklearn.metrics import r2_score
r2 = r2_score(y_test, predicted_values)
round(r2, 2)

0.15

In [27]:
# Question No. 17
# Feature Weights

def get_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df
    
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
linear_model_weights

       Features  Linear_Model_Weight
0           rv2        -1.015533e+11
1          RH_2        -4.566132e-01
2         T_out        -3.217958e-01
3            T2        -2.361240e-01
4            T9        -1.899212e-01
5          RH_8        -1.575959e-01
6        RH_out        -7.765047e-02
7          RH_7        -4.462370e-02
8          RH_9        -3.980111e-02
9            T5        -1.565920e-02
10           T1        -3.281051e-03
11  Press_mm_hg         6.838751e-03
12           T7         1.032414e-02
13   Visibility         1.230614e-02
14         RH_5         1.599726e-02
15         RH_4         2.640099e-02
16           T4         2.900027e-02
17    Windspeed         2.918709e-02
18         RH_6         3.805716e-02
19         RH_3         9.598836e-02
20           T8         1.019952e-01
21    Tdewpoint         1.177209e-01
22           T6         2.363848e-01
23           T3         2.905510e-01
24         RH_1         5.535724e-01
25          rv1         1.015533e+11

In [28]:
# Question No. 18
# Ridge Regression

from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Pred_1 = ridge_reg.predict(x_test)

# RMSE
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, Pred_1))
round(rmse, 3)

0.088

In [29]:
# Question No. 19 & 20
# LASSO Regression
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Pred_2 = lasso_reg.predict(x_test)

# RMSE
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, Pred_2))
print(round(rmse, 3))

print(np.sum(lasso_reg.coef_ != 0))

0.094
4